<div id="header">
    <p>Event Manager</p>
    <div id='links'>
        <%= link_to 'Log out', destroy_user_session_path, id:'session'%>
        <%= link_to 'New Event', new_event_path , id:'session'%>
            <%= link_to 'Your events', user_path(current_user.id) , id:'session'%>
        <%= link_to 'Home', root_path, id:'session'%>
    </div>
</div><p id='new-event'>Your Events</p>
<% p @user_events %>
<% past = @user_events.filter {|ev| ev.event.date < Date.today.to_s }%>
<% upcoming = @user_events.filter {|ev| ev.event.date > Date.today.to_s }%>
<p id='your-events-title'>Past</p>
<div id='events'>
    <%= render 'events', events:past %>
</div>
<p id='your-events-title'>Upcoming</p>
<div id='events'>
    <%= render 'events', events: upcoming %>
</div>